<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RowHighligher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RowHighligher.Properties.Settings>
            <setting name="IsHighlighterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="PlaceRuleOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MakeRuleBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomFontColorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomFontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="IsCalculatorDetached" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CalculatorDecimalPlaces" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="IsConverterDetached" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseFormulasForNumbers" serializeAs="String">
                <value>False</value>
            </setting>
        </RowHighligher.Properties.Settings>
    </userSettings>
</configuration>